nav {
    width: 100% !important;
    border-bottom: 1px solid rgb(184, 184, 184);
  }
  nav #navbar {
    display: flex;
    justify-content: space-around;
    height: 50px;
    margin-top: 8px;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
  }
  nav .leftside {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    align-items: center;
  }
  nav .nav-item {
    margin: 10px;
  }
  nav .nav-item .navicon {
    width: 20px;
    height: auto;
    opacity: 0.9;
    margin-top: 5px;
    box-sizing: border-box;
  }
  nav .nav-item .navicon:hover {
    opacity: 1;
    border: 1px rgb(141, 134, 134);
    box-shadow: 1px 2px 2px 1px rgba(117, 46, 46, 0.25);
  }
  nav .nav-item .link {
    color: #222;
    text-decoration: none;
    font-size: 17px;
    font-family: gill Sans;
  }
  nav .nav-item .link:hover {
    text-decoration: underline;
    color: black;
  }
  nav .middleside {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: auto;
    height: auto;
  }
  nav .rightside {
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
    margin: auto;
    height: auto;
    margin-left: 12px;
    font-family: sans-serif;
  }
  nav .rightside .button1 {
    background-color: rgb(10, 103, 156);
    margin-left: 6px;
    margin-right: 6px;
    padding-left: 8px;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
  }
  nav .rightside .button1:hover {
    background-color: rgb(3, 63, 97);
    border: 1px solid lightgray;
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.25);
  }
  nav .rightside .button2 {
    background-color: rgb(253, 254, 255);
    font-size: 13px;
    color: rgb(77, 73, 73);
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
  }
  nav .bi-chevron-down {
    color: #222;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main h1 {
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large !important;
  }
  main h1 hr {
    width: auto;
  }
  main h2 {
    font-size: x-large;
    font-family: "Times New Roman", Times, serif;
    border-top: 2px solid black;
    align-items: flex-start;
  }
  main button {
    border: 1px solid rgb(172, 170, 170);
    box-sizing: border-box;
    border-radius: 100px;
    font-size: small;
    background-color: white;
    padding: 0.5rem;
  }
  main figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5rem;
    margin-left: 5rem;
    align-content: center;
    align-items: center;
  }
  main figure img {
    width: 1300px;
    margin-top: 2rem;
  }
  main figure span {
    color: grey;
    align-self: flex-start;
  }
  main .bi {
    width: 20px;
  }
  main #centerbutton {
    margin-bottom: 2rem;
    background-color: rgb(60, 91, 119);
    border: 1px solid rgb(39, 58, 77);
    box-sizing: border-box;
    border-radius: 5px;
    width: 600px;
    font-size: small;
    color: white;
  }
  main p {
    font-family: arial;
    width: 600px;
  }
  main ul {
    width: 600px;
    font-family: arial;
  }
  main ul li {
    padding-top: 1rem;
  }
  main ul li a {
    color: rgb(60, 91, 119);
  }/*# sourceMappingURL=style.css.map */